/* -------------------- 
  ENTIRE SITE WRAPPER
  -------------------- */
  #site-wrapper {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: auto;
    align-items: center;
    position: relative;
  }

  /* --------------------
  HOMEPAGE WRAPPER
  -------------------- */
  .main-wrapper {
    @include wrapperDiv;
    border-top: 1px solid #1e2233;
    border-bottom: 1px solid #1e2233;

    .inner-wrapper {
      @include innerWrapperDiv;
    }
  }

  /* --------------------
  RATING WRAPPER
  -------------------- */
  .rating-wrapper {
    @include wrapperDiv;

    .inner-wrapper {
      @include innerWrapperDiv;
    }
  }