/* --------------------
  HEADER
  -------------------- */
  
  header {
    @include flexRow;
    min-height: 52px;
    overflow:auto;
    width: 100%;
    align-items: center;

    .inner-wrapper {
        @include flexRow;
        width: 90%;
        align-items: center;
        overflow: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 0;
      }

    .logo {
        display:flex;
        flex-grow: 1;
        align-items: center;

        svg {
            width: 60px;
            height: 60px;
          }

        a {
            color: $headerColor;
            font-family: $headerFont;
            font-weight: 600;
            font-size: 1.4rem;
            text-decoration: none;
            opacity: 0.8;
            margin-left: 8px;

            &:hover {
                opacity: 1;
            }
        }
    }

    nav {
        overflow: hidden;
    }

    nav a {
        padding: 0px 15px;
        float: left;
        display: block;
        text-align: center;
        font-weight: 600;
    }
     
    nav a.active {
        color: $headerColor;
    }
      
    .icon {
        display: none;
        color: $brandColor;
    }
    
  }