/* --------------------
  HEADER
  -------------------- */
  
  header {
    @include flexRow;
    background-color: $lightColor;
    min-height: 52px;
    overflow:auto;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0px;
    box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.05);

    .inner-wrapper {
        @include flexRow;
        width: 90%;
        align-items: center;
        overflow: auto;
        margin-left: auto;
        margin-right: auto;
      }

    .logo {
        display:flex;
        flex-grow: 1;
        align-items: center;

        a {
            color: $headerColor;
            font-family: $headerFont;
            font-size: 1.4rem;
            text-decoration: none;
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }
        }
    }

    nav {
        overflow: hidden;
    }

    nav a {
        padding: 0px 15px;
        float: left;
        display: block;
        text-align: center;
        font-weight: 600;
    }
     
    nav a.active {
        color: $headerColor;
    }
      
    .icon {
        display: none;
        color: $primaryColor;
    }
    
  }