@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin flexCol {
    display: flex;
    flex-direction: column;
}

@mixin contentBox {
    background-color: $lightColor;
    padding: 34px;
    border-radius: 20px;
}