$backgroundColor: #f3f4f6; // Grey-Blue
$headerColor: #293543; // Dark Blue
$bodyColor: #66707A; // Dark blue 70%
$hoverColor: #E4E6E9; // Dark blue 10%
$primaryColor: #6102d2; // Purple
$secondaryColor: #fe346e; // Pink
$tertiaryColor: #fcdb00; // Yellow
$fourthColor: #0cd68a; // Turqoise
$fifthColor: #2238af; // Blue
$lightColor: #ffffff;

$bodyFont: roboto, "Helvetica Neue", Helvetica, sans-serif;
$headerFont: archivo-black, "Helvetica Neue", Helvetica, sans-serif;
