$backgroundColor: #2a2e43; // Dark Blue
$lightBackgroundColor: #f0f0f2; // Dark Blue 10%
$mediumBackgroundColor: #d2d3d7; // Dark Blue 30%
$headerColor: #fff; // White
$bodyColor: #a6aabb; // Dark blue 70%
$hoverColor: #ffffff; // Dark blue 10%
$primaryColor: #c940ea; // Purple
$secondaryColor: #ff5f99; // Pink
$tertiaryColor: #ff9057; // Orange
$fourthColor: #febd35; // Yellow
$brandColor: #3598fe; // Blue
$lightBrandColor: #3bcde2; // Light Blue
$lightColor: #ffffff;

$bodyFont: canada-type-gibson, "Helvetica Neue", Helvetica, sans-serif;
$headerFont: canada-type-gibson, "Helvetica Neue", Helvetica, sans-serif;
