/* ----------------------------------------
  QUESTIONS, ANSWERS & RATINGS SECTION
  ---------------------------------------- */
  .questions-wrapper {
    @include flexRow;
    width: 90%;
    background-color: transparent;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: center;
    min-height: calc(100vh - 39px);
    padding: 40px 0px 0px 0px;
    position: relative;

    @media only screen and (min-width : 321px) {
      min-height: calc(100vh - 39px);
    }
  }
  
  /* QUESTIONS */
  .question-section {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 17px;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    align-items: center;

    .icon {
        width: 70px;
        height: 70px;
        padding:7px;
        border-radius: 8px;
        margin-right: 12px;
      }
      
      .count {
        display: flex;
        align-items: center;
        color: $bodyColor;
        font-weight: 600;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        justify-content: flex-start;
      }
      
      .title {
        display: flex;
        flex-direction: column;

        h2 {
          margin: 0 0;
        }
      }
  }

  .description {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1rem;
  }

  .card-carousel {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
  }
  
  .card {
    border-radius: 8px;
    width: 100%;
    height: auto;
    transition: all 0.75s ease;
    opacity: 0;
    position: absolute;
    transform: scale(0.85) translateX(100%);
  }
  
  .card.active {
    opacity: 1;
    transform: scale(1) translateX(0);
    z-index: 2;
  }
  
  .card.next {
    z-index: 0;
    opacity: 0;
  }
  
  .card.prev {
    transform: scale(0.85) translateX(-100%);
    z-index: 0;
    opacity: 0;
  }
  
  /* ANSWERS */
  .answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

      
      .item button {
        width: 100%;
        color: $bodyColor;
        background-color: $lightColor;
        font-size: 1rem;
        text-transform: none;
        font-family: roboto, "Helvetica Neue", Helvetica, sans-serif;
        font-weight: 400;
        border-radius: 8px;
        display: flex;
        padding: 10px 14px;
        justify-content: flex-start;
        align-items: flex-start;
        border: 1px solid $lightColor;
        margin: 6px 0px;
        cursor: pointer;
        text-align: left;
        transition: 0.4s;
        letter-spacing: normal;
        box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.03);


        &:hover {
            background-color: $hoverColor;
            border: 1px solid $bodyColor;
            color: $headerColor;
            transition: 0.4s;
          }
      }
  }