@import './variables';

.topic-card-carousel {
  background-color: #ff0000;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 200px;
  margin: 0px auto;
  align-items: center;
  position: relative;
}

.topic-card {
  background: #ffffff;
  border-radius: 8px;
  padding: 30px;
  width: 600px;
  height: auto;
  transition: all 0.75s ease;
  opacity: 0;
  position: absolute;
  transform: scale(0.85) translateX(540px);
}

.topic-card h2,
.topic-card p {
  line-height: 1.5;
  margin: 0;
}

.topic-card.active {
  opacity: 1;
  transform: scale(1) translateX(0);
  z-index: 2;
  box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.05);
}

.topic-card.next {
  z-index: 0;
  opacity: 0.15;
}

.topic-card.prev {
  transform: scale(0.85) translateX(-540px);
  z-index: 0;
  opacity: 0.15;
}


/* --------------------
CORE STYLES
-------------------- */

body {
    margin: 0;
    font-family: $bodyFont;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
  }
  * {
    font-family: $bodyFont;
    font-style: normal;
    color: $bodyColor;
  }
  
  body {
    position: relative;
    background-color: $backgroundColor;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  
  #root {
    width:100%;
  }
  
  .column {
    flex-direction: column;
  }
  
  /* --------------------
  TYPOGRAPHY STYLES
  -------------------- */
  
  h1, h2, h3, h4, h5,
  h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    font-family: $headerFont;
    font-weight: 400;
    font-style: normal;
    color: $headerColor;
    margin: 0.25em 0;
  }
  
  h3 {
    margin-bottom: 1rem;
  }
  
  a {
    color: $primaryColor;
    transition: 0.3s;
  }
  
  a:hover {
    color: $headerFont;
    transition: 0.3s;
    text-decoration: none;
  }
  
  
  /* --------------------
  ADDITIONAL TYPOGRAPHY CLASSES
  -------------------- */
  .lead-in-text {
    font-size: 1.2rem;
  }
  
  .main-wrapper h5 {
    font-weight: 500;
    letter-spacing: 0.09em;
    font-size: 1rem;
    color: $primaryColor;
  }
  
  
  /* -------------------- 
  SITE WRAPPER
  -------------------- */
  #site-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
  }
  
  /* -------------------- 
  MAIN
  -------------------- */
  main {
    flex-grow: 1;
  }
  
  /* --------------------
  HEADER
  -------------------- */
  
  header {
    display: flex;
    align-items: flex-start;
  }
  
  /* --------------------
  LOGO
  -------------------- */
  header nav .logo {
    display:flex;
    align-items: center;
    width: 70%;
    text-align:left;
    color: $headerColor;
    font-family: $headerFont;
    font-size: 1.4rem;
    height: 71px;
  }
  
  header nav .logo:hover, header nav .icon:hover {
    text-decoration: none;
  }
  
  
  /* --------------------
  NAVIGATION
  -------------------- */
  header nav {
    overflow: hidden;
  }
  
  
  header nav a {
    padding: 0px 10px;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
  }

  
  header nav a.active {
    color: $headerColor;
  }
  
  header nav .icon {
    display: none;
    color: $primaryColor;
  }
  
  
  /* --------------------
  LANDING PAGE WRAPPER
  -------------------- */
  
  .main-wrapper {
    background-color: transparent;
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
  
  .landing-bg {
    /* background-image: url(shape-bg.svg); */
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: 50% 90%;
    background-position: right center;
  }
  
  /* LANDING PAGE LEFT COLUMN */
  .landing-left {
    margin-top: 10px;
    margin-right: 20px;
    width: 50%;
    justify-content: center;
  }
  
  .landing-left p {
    color: $bodyColor;
    line-height: 1.6em;
    margin-bottom: 20px;
  }
  
  .start-button {
    background-color: transparent;
    border-color: $primaryColor;
    color: $primaryColor;
    border-width: 2px;
    width: fit-content;
    padding: 14px 24px;
    border-radius: 27px;
    font-size: 1rem;
    font-weight: 400;
    font-family: $headerFont;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    transition: 0.3s;
  }
  
  .start-button:hover, .start-button:focus {
    background-color: $primaryColor;
    border-color: $primaryColor;
    border-width: 2px;
    color: $lightColor;
    transition: 0.3s;
  }
  
  .mockup {
    width: 100%;
  }
  
  /* --------------------
  ABOUT PAGE
  -------------------- */
  .about-wrapper {
    padding: 30px 30px;
  }
  
  .about-section {
    display:flex;
  }
  
  .about-section img {
    display: none;
  }
  
  .about-section div {
    width:100%;
  }
  
  
  /* ----------------------------------------
  QUESTIONS, ANSWERS & RATINGS SECTION
  ---------------------------------------- */
  
  .wrapper {
    padding: 25px 20px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.05);
    border-radius: 8px;
  }

  
  /* ------------------------
  QUESTIONS SECTION
  ------------------------ */
  
  /* QUESTIONS */
  .question-section {
    width: 100%;
    display: flex;
    position: relative;
    margin-bottom: 17px;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    align-items: center;
  }

  .question-icon {
    width: 42px;
    height: 42px;
    padding:7px;
    border-radius: 8px;
    margin-right: 12px;
  }
  
  .question-count {
    display: flex;
    align-items: center;
    color: $bodyColor;
    font-weight: 600;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    justify-content: flex-start;
  }
  
  .question-title {
    display: flex;
    flex-direction: column;
  }
  
  .question-description {
    font-weight: 600;
  }
  
  /* ANSWERS */
  .answer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .answer-item button span {
    font-size: 1rem;
  }
  
  button, button:focus {
    width: 100%;
    color: $bodyColor;
    background-color: $lightColor;
    border-radius: 8px;
    display: flex;
    padding: 10px 14px;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #e6e6e6;
    margin: 6px 0px;
    cursor: pointer;
    text-align: left;
    transition: 0.4s;
    transform: scale(0.98);
  }
    
  button:hover {
    background-color: $hoverColor;
    border: 1px solid $bodyColor;
    color: $headerColor;
    transition: 0.4s;
    transform: scale(1);
  }
  
  button span {
    color: $bodyColor;
  }
  
  button span img {
    width: 20px;
    height: 20px;
    margin: 0px 12px;
  }
  
  button:focus {
    outline: none;
  }
  
  button svg {
    margin-right: 5px;
  }
  
  /* --------------------
  FINAL RATING SECTION
  -------------------- */  
  .rating-section {
    display:flex;
    align-items: center;
    text-align: left;
    margin-bottom: 0px;
  }

  .rating-section .icon {
    width: 16%;
  }

  .rating-section .title {
    width: 84%;
  }
  
  .ratings-title p {
    font-size: 1.1rem;
  }
  
  .rating-section svg {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  
  /* --------------------
  RATINGS OVERVIEW SECTION
  -------------------- */
  .category-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  
  .category-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
  }
  
  .category-item {
    display:flex;
    flex-direction:row;
    margin-bottom: 8px;
    margin-top: 2px;
    width: 50%;
    max-height: 40px;
    align-items: center;
  }
  
  .category-item svg {
    width: 15%;
    margin-right: 8px;
    flex-shrink: 0;
  }
  
  .category-item p {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  /* --------------------
  SIMILAR FILMS SECTION
  -------------------- */
  .other-films-section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .film-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .film-items .item {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
  }
  
  .film-items .item .image {
    width: 30%;
    margin-right: 10px;
    margin-bottom: 0px;
  }
  
  .film-items .item .image img {
    width: 100%;
  }
  
  .film-items .item .info {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-right: 10px;
  }
  
  /* --------------------
  FOOTER
  -------------------- */
  
  footer {
    height: 50px;
    width:100%;
    display:flex;
    margin-top:auto;
    align-items: center;
    padding: 0px 30px;
  }
  
  footer p {
    font-size: 0.9rem;
    color: $bodyColor;
    text-align: center;
    margin-bottom: 0px; /* Overriding browser standard */
  }
  
  /* -------------------------------------------------------------------------
    MEDIA QUERIES BEYOND THIS POINT
  ------------------------------------------------------------------------- */
  
  /* ------------------------------
  SMARTPHONES (PORTRAIT) UNDER 320px
  ------------------------------ */
  @media only screen and (max-width : 320px) {
  
    /*
    HEADER
    */
  
    header {
      flex-direction: column;
      margin-bottom:15px;
    }
  
    header nav {
      margin: auto;
    }
  
    /*
    LANDING PAGE STYLES
    */
    .main-wrapper {
      width: 320px;
    }
  
    /*
    QUESTIONS AND ANSWERS SECTION
    */
    .wrapper {
      width: 320px;
    }
  
    .question-count {
      margin-left: 0px;
      margin-bottom:10px;
    }
  
  }
  
  /* ------------------------------
  SMARTPHONES (LANDSCAPE) OVER 321px
  ------------------------------ */
  @media only screen and (min-width : 321px) {
    /*
    HEADER
    */
    header {
      flex-direction: row;
      width: 100%;
      background: rgba(255, 255, 255, 0.05);
      padding-bottom: 0px;
    }
  
    header nav {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  
    header nav .block {
      width: 100%;
    }
  
    /*
    LANDING PAGE STYLES
    */
    .main-wrapper {
      width: 100%;
      flex-grow: 1;
      padding: 30px;
    }
  
    .landing-left {
      width: 50%;
      margin-right: 0px;
      margin-top: 0px;
      padding: 0px;
    }
  
    /*
    QUESTIONS AND ANSWERS SECTION
    */
    .wrapper {
      width: 100%;
    }
  
    /*
    RATINGS OVERVIEW 
    */
    .category-item p{
      text-align: left;
    }
  
  }
  
  /* ------------------------------------------
  SMALL DEVICES UNDER 600px
  ------------------------------------------ */
  @media screen and (max-width: 600px) {
  
    /*
    WRAPPER
    */
    .wrapper {
      padding: 15px 20px;
    }
  
    /*
    HEADER
    */
    header nav a:not(:first-child) {
      display: none;
      padding: 8px 18px;
    }
    header nav a.icon {
      float: right;
      display: flex;
      margin-left: auto;
    }
  
    /*
    LANDING PAGE BACKGROUND
    */
    .landing-bg {
      background-image: none;
      flex-grow: 1;
      background-repeat: no-repeat;
    }
  
    /*
    LANDING PAGE LEFT COLUMN
    */
    .landing-left {
      width: 100%
    }
  
    /*
    MARGIN OVERRIDE
    */
    .mb-30 {
      margin-bottom: 0px !important;
    }
  }
  
  @media screen and (max-width: 600px) {
    header nav.responsive {
      position: relative;
      padding-bottom: 12px;
    }
  
    header nav.responsive a {
      float: none;
      display: flex;
      text-align: left;
    }
  }
  
  
  
  /* ------------------------------------------
  TABLETS (PORTRAIT) & LARGE PHONES OVER 600px
  ------------------------------------------ */
  @media only screen and (min-width: 600px) {
  
    /*
    SITE WRAPPER
    */
    #site-wrapper {
      background-image: url(../images/circle.svg);
      background-repeat: no-repeat;
      background-size: 70% 150%;
      background-position: 160% -400px;
      }
  
    /*
    HEADER
    */
    header {
      background: transparent;
      padding: 0px 10px;
    }
  
    /*
    LANDING PAGE
    */
    .main-wrapper {
      width: 100%;
    }
  
    /*
    FOOTER
    */
    footer {
      padding: 0px 30px;
    }
  
  
    /*
    NAVIGATION
    */
    header nav .logo {
      width: auto;
      text-align: left;
      margin-right: auto;
    }
  
    header nav .block {
      width: auto;
    }
  
    /*
    ABOUT PAGE
    */
    .about-wrapper {
      display: flex;
      align-items: center;
    }
  
    .about-section img {
      display:block;
      width: 20%;
      margin-right: 20px;
    }
  
    .about-section div {
      width:80%;
      margin-right: 30px;
    }
  
    /*
    QUESTIONS & ANSWERS SECTION
    */
    .wrapper {
      width: 100%;
    }
  
    /*
    RATINGS OVERVIEW
    */
    .category-section {
      text-align: center;
    }
  
    .category-item img {
      width: 20%;
    }
  
    .category-item p {
      font-size: 1rem;
    }
  
    /*
    OTHER FILMS
    */
    .other-films-section {
      text-align: center;
    }

    .info h5 {
      margin: 0px 0px 5px 0px;
    }
  
    .info p {
      font-size: 0.9rem;
      margin: 0px;
  }
  
  }
  
  /* ---------------------------
  PORTRAIT iPHONE X
  --------------------------- */
  @media only screen 
      and (device-width : 375px) 
      and (device-height : 812px) 
      and (-webkit-device-pixel-ratio : 3)
      and (orientation : portrait) {
  
      }
  
  /* ---------------------------
  LANDSCAPE iPHONE X
  --------------------------- */
  @media only screen 
      and (device-width : 812px) 
      and (device-height : 375px) 
      and (-webkit-device-pixel-ratio : 3)
      and (orientation : landscape) {
  
        /*
        LANDING PAGE
        */
        .landing-left {
          padding: 0px 10px 0px 0px !important;
      }
      
    }
  
  /* ---------------------------
  TABLETS (LANDSCAPE) OVER 768px
  --------------------------- */
  @media only screen and (min-width: 768px) {
  
    /*
    SITE WRAPPER
    */
    #site-wrapper {
      background-image: url(../images/circle.svg);
      background-repeat: no-repeat;
      background-size: 70% 150%;
      background-position: 160% -460px;
      }
  
    /*
    TYPOGRAPHY
    */
    h1 {
      font-size: 3rem;
    }
  
    /*
    HEADER
    */
    header {
      flex-direction: row;
      padding: 0px;
      width: 100%;
      box-shadow: 0 0 0 0;
      padding: 0px 30px;
    }
  
    header nav {
      margin-left: auto;
    }
  
    /*
    FOOTER
    */
    footer {
      width: 100%;
      padding: 0px 30px;
    }
  
    /*
    LANDING PAGE
    */
    .main-wrapper {
      width: 100%;
      padding: 0px 30px;
      box-sizing: border-box;
      
    }
  
    .landing-left {
      padding: 0px 50px 0px 0px;
    }
  
  
    /*
    QUESTIONS & ANSWERS SECTION
    */
    .wrapper {
      width: 95%;
      background-color: $lightColor;
      padding: 25px 30px;
      display: flex;
      justify-content: flex-start;
    }

  
    /*
    RATINGS OVERVIEW SECTION
    */
    .category-section {
      text-align: left;
    }
  
    .category-item-container {
      justify-content: center;
    }
  
    .category-item {
      width: 33%;
    }
  
    /*
    OTHER FILMS
    */
    .other-films-section {
      text-align: left;
    }
  
    /*
    FINAL RATINGS SECTION
    */
    .rating-section .ratings-content {
      flex-direction: row;
      text-align: left;
      width: 100%;
    }
  
    .rating-section .icon {
      width: 25%;
      margin-right: 20px;
      margin-bottom: 0px;
    }
  
    /*
    FOOTER
    */
    footer p {
      font-size: 0.9rem;
    }
  
    /*
    SIMILAR FILMS SECTION
    */
    .film-items {
      justify-content: space-around;
      flex-direction: row
    }
  
    .film-items .item {
      width: 33%;
      margin-bottom: 0px;
    }
  
    .film-items .item .image {
      width: 30%;
    }
  
    .film-items .item .image img {
      width: 100%;
    }
  
    .film-items .item .info {
      width: 70%;
      justify-content:flex-start;
    }
  
  }
  
  /* ------------------------------------------
  LAPTOPS/DESKTOPS OVER 992px
  ------------------------------------------ */
  @media only screen and (min-width: 992px) {
    /*
    HEADER
    */
    header {
      width: 942px;
      padding: 10px 0px;
    }
  
    /*
    FOOTER
    */
    footer {
      width: 942px;
      padding: 0px 30px;
    }
  
    /*
    LANDING PAGE
    */
    .main-wrapper{
      width: 942px;
    }
  
    /*
    ABOUT PAGE
    */
    .about-wrapper{
      width: 942px;
    }
  
    /*
    QUESTIONS & ANSWERS SECTION
    */
    .wrapper {
      width: 942px;
    }
  
    /*
    RATINGS OVERVIEW SECTION
    */
    .category-item-container {
      justify-content:flex-start;
    }
  
    .category-item {
      width: 25%;
    }
  
    .category-item img {
      width: 20%;
    }
  
  }
  
  /* ------------------------------------------
  LARGE LAPTOPS/DESKTOPS OVER 1200px
  ------------------------------------------ */
  @media only screen and (min-width: 1200px) {
    /*
    HEADER & FOOTER
    */
    header, footer {
      width: 1100px;
    }
  
    /*
    LANDING PAGE
    */
    .main-wrapper{
      width: 1100px;
    }
  
    /*
    ABOUT PAGE
    */
    .about-wrapper{
      width: 1100px;
    }
  
    /*
    QUESTIONS & ANSWERS SECTION
    */
    .wrapper {
      width: 1100px;
    }
  
  }
  
  