body {
  margin: 0;
  font-family: bilo, sans-serif;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height:normal;
}
* {
  font-family: bilo, sans-serif;
  font-style: normal;
  color: #2e353a;
}

body {
  position: relative;
  background-color: rgb(46 53 58 / 05%);
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

h1, h2, h3, h4, h5 {
  font-weight: 900;
  letter-spacing: -0.03em;
}

h3 {
  margin-bottom: 1rem;
}

a {
  color: rgba(251, 79, 147, 1);
  transition: 0.3s;
}

a:hover {
  color: rgba(46, 53, 58, 1);
  transition: 0.3s;
}

.column {
  flex-direction: column;
}

/* 
Site Wrapper
 */
#site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* 
Animated Background
*/

#background-container {
  position: fixed;
  background-color: none;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
  align-self: stretch;
}

#background-container .shape-1 svg, #background-container .shape-2 svg, #background-container .shape-3 svg {
  position: absolute;
  z-index: -1;
  animation: rotate 13s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

/* Blue Triangle */
.shape-1 svg {
  width: 700px;
  bottom: -400px;
  left: -350px;
}

/* Orange Triangle */
.shape-2 svg {
  width: 700px;
  bottom: -50px;
  right: -590px;
}

/* Green Circle */
.shape-3 svg {
  width: 570px;
  top: -100px;
  left: -500px;
}

.shape-1 svg path {
  fill: #006ed2;
}

.shape-2 svg path {
  fill: #fbad00;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}



/*
Header
*/

header {
  display: flex;
  align-items: center;
}

header nav {
  margin-left: auto;
}

header a {
  color: rgb(46 53 58 / 50%);
  text-transform: lowercase;
  padding: 0px 10px;
}

/* 
Landing Page Wrapper
*/

.main-wrapper {
  background-color: transparent;
  height: calc(100vh - 111px);
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
}

.landing-left {
  margin-top: 10px;
  margin-right: 20px;
}

.landing-left h1 {
  font-size: 3.2rem;
}

.landing-left h2 {
  color: rgba(46, 53, 58, 0.5);
}

.landing-left p {
  line-height: 1.6em;
  margin-bottom: 20px;
}

.circle-bg {
  display: flex;
  flex-direction: column;
  background-image: url(triangle-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  min-height: 490px;
  justify-content: center;
}

.mockup {
  width: 100%;
}

.start-button {
  background-color: #fb4f93;
  border-color: #fb4f93;
  width: fit-content;
  padding: 6px 15px;
  border-radius: 22px;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.3s;
}

.start-button:hover {
  background-color: #2e353a;
  border-color: #2e353a;
  color: #fff;
  transition: 0.3s;
}

/* 
Questions and Ratings Styling
*/

.wrapper {
  background-color: #fff;
  border-radius: 15px;
  padding: 25px 30px;
  box-shadow: 0 0 48px 16px rgb(46 53 58 / 15%);
  display: flex;
  justify-content: space-evenly;
}

.mb-30 {
  margin-bottom: 30px;
}

/* Ratings Final Section */
.ratings-final {
  display:flex;
  flex-direction: column;
}

.ratings-final .ratings-title {
  width: 100%;
}

.ratings-final .ratings-content {
  display:flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 0px;
}

.ratings-final .ratings-content img {
  width: 50%;
  margin-right: 0px;
  margin-bottom: 10px;
}

.ratings-final h2 {
  margin-bottom: 1rem;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
  margin-bottom: 12px;
}

.question-count {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: rgb(46 53 58 / 50%);
}

/* .question-count span {
  font-size: 28px;
} */

.question-title {
  display: flex;
}

.question-description p {
  font-size: 1.2rem;
  margin-bottom: 0px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


button {
  width: 100%;
  font-size: 1.1rem;
  color: #2e353a;
  background-color: rgb(0 0 0 / 05%);
  border-radius: 5px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid rgb(0 0 0 / 10%);
  margin: 10px 0px;
  cursor: pointer;
  text-align: left;
}

button span img {
  width: 20px;
  height: 20px;
  margin: 0px 12px;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  background-color: rgb(0 0 0 / 10%);
  border: 1px solid rgb(0 0 0 / 10%);
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

.ratings-final p {
  font-size: 1.2rem;
}

/* Overview Section (Bottom) */
.overview-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.overview-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
}

.overview-item {
  display:flex;
  flex-direction:row;
  margin-bottom: 8px;
  margin-top: 2px;
  width: 50%;
}

.overview-item img {
  width: 15%;
  margin-right: 8px;
  flex-shrink: 0;
}

.overview-item p {
  margin-bottom: 0px;
}

/* Film Item */
.film-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.film-items .item {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.film-items .item .image {
  width: 30%;
  margin-right: 10px;
  margin-bottom: 0px;
}

.film-items .item .image img {
  width: 100%;
}

.film-items .item .info {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

.film-items .item .info p {
  font-size: 0.9em;
}

footer {
  height: 40px;
  display:flex;
  margin-top:auto;
}

footer p {
  color: rgba(46, 53, 58, 0.5);
  text-align: center;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 0px;
  background-color: #ffffff;
  padding: 8px 12px;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0 0 48px 16px rgb(46 53 58 / 15%);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .wrapper, .main-wrapper {
    width: 440px;
  }

  header {
    flex-direction: column;
    margin-bottom:15px;
  }

  header nav {
    margin: auto;
  }

  .question-title {
    flex-direction: column;
  }

  .question-count {
    margin-left: 0px;
    margin-bottom:10px;
  }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .wrapper, .main-wrapper {
    width: 560px;
  }

  .overview-section {
    text-align: left;
  }

  .overview-item img {
    width: 20%;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  /* body {
    background-image: url(bg.svg);
    background-position: top center;
  } */

  .wrapper, .main-wrapper {
    width: 718px;
  }

  .overview-item-container {
    justify-content: center;
  }

  .overview-item {
    width: 33%;
  }

  .ratings-final .ratings-content {
    flex-direction: row;
    text-align: left;
    width: 100%;
  }

  .ratings-final .ratings-content img {
    width: 25%;
    margin-right: 20px;
    margin-bottom: 0px;
  }


  /* Film Item */
  .film-items {
    justify-content: space-around;
    flex-direction: row
  }

  .film-items .item {
    width: 33%;
    margin-bottom: 0px;
  }

  .film-items .item .image {
    width: 30%;
  }

  .film-items .item .image img {
    width: 100%;
  }

  .film-items .item .info {
    width: 70%;
    justify-content:flex-start;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .wrapper, .main-wrapper {
    width: 942px;
  }

  .overview-item-container {
    justify-content:flex-start;
  }

  .overview-item {
    width: 25%;
  }

  

  .overview-item img {
    width: 20%;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .wrapper, .main-wrapper {
    width: 1100px;
  }

}

