/* --------------------
CORE STYLES
-------------------- */

body {
  margin: 0;
  font-family: neue-haas-unica, sans-serif;
  font-size: 17px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height:normal;
}
* {
  font-family: neue-haas-unica, sans-serif;
  font-style: normal;
  color: #2e353a;
}

body {
  position: relative;
  background-color: rgb(46 53 58 / 05%);
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

#root {
  width:100%;
}

.column {
  flex-direction: column;
}

/* --------------------
TYPOGRAPHY STYLES
-------------------- */

h1, h2, h3, h4, h5 {
  font-weight: 900;
  letter-spacing: -0.03em;
}

h3 {
  margin-bottom: 1rem;
}

a {
  color: rgba(251, 79, 147, 1);
  transition: 0.3s;
}

a:hover {
  color: rgba(46, 53, 58, 1);
  transition: 0.3s;
}

/* -------------------- 
SITE WRAPPER
-------------------- */
#site-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

/* --------------------
ANIMATED BACKGROUND
-------------------- */

#background-container {
  position: fixed;
  background-color: none;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
  align-self: stretch;
}

#background-container .shape-1 svg, #background-container .shape-2 svg, #background-container .shape-3 svg {
  position: absolute;
  z-index: -1;
  animation: rotate 13s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

/* BLUE BG TRIANGLE */
.shape-1 svg {
  width: 700px;
  bottom: -400px;
  left: -350px;
}

.shape-1 svg path {
  fill: #006ed2;
}

/* ORANGE BG TRIANGLE */
.shape-2 svg {
  width: 700px;
  bottom: -50px;
  right: -590px;
}

.shape-2 svg path {
  fill: #fbad00;
}

/* GREEN BG CIRCLE */
.shape-3 svg {
  width: 570px;
  top: -100px;
  left: -500px;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}


/* --------------------
HEADER
-------------------- */

header {
  display: flex;
  align-items: flex-start;
}

header a {
  color: rgb(46 53 58 / 50%);
  text-transform: lowercase;
  padding: 0px 10px;
}


/* --------------------
NAVIGATION
-------------------- */
header nav {
  overflow: hidden;
}

header nav a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

header nav a:hover {
  color: #2e353a;
}

header nav a.active {
  color: #000;
}

header nav .icon {
  display: none;
}


/* --------------------
LANDING PAGE WRAPPER
-------------------- */

.main-wrapper {
  background-color: transparent;
  height: calc(100vh - 114px);
  display: flex;
  align-items: center;
}

/* LANDING PAGE LEFT COLUMN */
.landing-left {
  margin-top: 10px;
  margin-right: 20px;
  width: 50%;
}

.landing-left h2 {
  color: rgba(46, 53, 58, 0.5);
}

.landing-left p {
  line-height: 1.6em;
  margin-bottom: 20px;
}

.start-button {
  background-color: #fb4f93;
  border-color: #fb4f93;
  width: fit-content;
  padding: 6px 15px;
  border-radius: 22px;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.3s;
}

.start-button:hover {
  background-color: #2e353a;
  border-color: #2e353a;
  color: #fff;
  transition: 0.3s;
}

/* LANDING PAGE RIGHT COLUMN */
.landing-right {
  display:none;
}

.circle-bg {
  display: flex;
  flex-direction: column;
  background-image: url(triangle-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  min-height: 490px;
  justify-content: center;
}

.mockup {
  width: 100%;
}

/* ----------------------------------------
QUESTIONS, ANSWERS & RATINGS SECTION
---------------------------------------- */

.wrapper {
  padding: 25px 20px;
  display: flex;
  justify-content: space-evenly;
}

.mb-30 {
  margin-bottom: 30px !important;
}

/* ------------------------
QUESTIONS SECTION
------------------------ */

/* QUESTIONS */
.question-section {
  width: 100%;
  position: relative;
  margin-bottom: 12px;
}

.question-count {
  display: flex;
  width:50%;
  align-items: center;
  color: rgb(46 53 58 / 50%);
  justify-content: flex-start;
}

.question-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.question-description p {
  margin-bottom: 0px;
}

/* ANSWERS */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  color: #2e353a;
  background-color: rgb(0 0 0 / 05%);
  border-radius: 5px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid rgb(0 0 0 / 10%);
  margin: 10px 0px;
  cursor: pointer;
  text-align: left;
}

button span img {
  width: 20px;
  height: 20px;
  margin: 0px 12px;
}

button:hover {
  background-color: rgb(0 0 0 / 10%);
  border: 1px solid rgb(0 0 0 / 10%);
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

/* --------------------
FINAL RATING SECTION
-------------------- */
.ratings-final {
  display:flex;
  flex-direction: column;
}

.ratings-final .ratings-title {
  width: 100%;
}

.ratings-final .ratings-content {
  display:flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 0px;
}

.ratings-title p {
  font-size: 1.1rem;
}

.ratings-final .ratings-content img {
  width: 50%;
  margin-right: 0px;
  margin-bottom: 10px;
}

/* --------------------
RATINGS OVERVIEW SECTION
-------------------- */
.overview-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.overview-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
}

.overview-item {
  display:flex;
  flex-direction:row;
  margin-bottom: 8px;
  margin-top: 2px;
  width: 50%;
  max-height: 40px;
}

.overview-item img {
  width: 15%;
  margin-right: 8px;
  flex-shrink: 0;
}

.overview-item p {
  margin-bottom: 0px;
}

/* --------------------
SIMILAR FILMS SECTION
-------------------- */

.film-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.film-items .item {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.film-items .item .image {
  width: 30%;
  margin-right: 10px;
  margin-bottom: 0px;
}

.film-items .item .image img {
  width: 100%;
}

.film-items .item .info {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

/* --------------------
FOOTER
-------------------- */

footer {
  height: 43px;
  display:flex;
}

footer p {
  font-size: 0.9rem;
  color: rgba(46, 53, 58, 0.5);
  text-align: center;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 0px;
  background-color: #ffffff;
  padding: 8px 12px;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0 0 48px 16px rgb(46 53 58 / 15%);
}

/* -------------------------------------------------------------------------
  MEDIA QUERIES BEYOND THIS POINT
------------------------------------------------------------------------- */

/* ------------------------------
SMARTPHONES (PORTRAIT) UNDER 320px
------------------------------ */
@media only screen and (max-width : 320px) {
  /* 
  ANIMATED BACKGROUND
  */

  #background-container {
    display:none;
  }

  /*
  HEADER
  */

  header {
    flex-direction: column;
    margin-bottom:15px;
  }

  header nav {
    margin: auto;
  }

  /*
  LANDING PAGE STYLES
  */
  .main-wrapper {
    width: 320px;
  }

  /*
  QUESTIONS AND ANSWERS SECTION
  */
  .wrapper {
    width: 320px;
  }

  .question-count {
    margin-left: 0px;
    margin-bottom:10px;
  }

}

/* ------------------------------
SMARTPHONES (LANDSCAPE) OVER 321px
------------------------------ */
@media only screen and (min-width : 321px) {
  /* 
  ANIMATED BACKGROUND
  */
  #background-container {
      background-image: url(minimal-bg.png);
      background-size: cover;
  }

  /*
  HEADER
  */
  header {
    flex-direction: row;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding-bottom: 0px;
    box-shadow: 0 0 18px 2px rgb(46 53 58 / 15%);
  }

  header nav {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  header nav .block {
    width: 100%;
  }

  /*
  LANDING PAGE STYLES
  */
  .main-wrapper {
    width: 100%;
    height: calc(100vh - 114px);
    padding: 30px;
  }

  .landing-left {
    width: 100%;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
  }

  .landing-right {
    width: 0%;
    display: none;
  }

  /*
  QUESTIONS AND ANSWERS SECTION
  */
  .wrapper {
    width: 100%;
  }

  /*
  RATINGS OVERVIEW SECTION
  */
  .overview-item p {
    font-size: 0.9rem;
    text-align: left;
  }

}

/* ------------------------------------------
SMALL DEVICES UNDER 600px
------------------------------------------ */
@media screen and (max-width: 600px) {

  header nav a:not(:first-child) {
    display: none;
    padding: 8px 18px;
  }
  header nav a.icon {
    float: right;
    display: block;
    margin-left: auto;
  }
}

header nav .logo {
  width: 70%;
  text-align:left;
}

@media screen and (max-width: 600px) {
  header nav.responsive {
    position: relative;
    padding-bottom: 12px;
  }

  header nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}



/* ------------------------------------------
TABLETS (PORTRAIT) & LARGE PHONES OVER 600px
------------------------------------------ */
@media only screen and (min-width: 600px) {
  /*
  LANDING PAGE
  */
  .main-wrapper {
    width: 100%;
  }

  .landing-right {
    display:none;
  }

  /*
  NAVIGATION
  */
  header nav .logo {
    width: auto;
    text-align: left;
    margin-right: auto;
  }

  header nav .block {
    width: auto;
  }

  /*
  QUESTIONS & ANSWERS SECTION
  */
  .wrapper {
    width: 100%;
  }

  /*
  RATINGS OVERVIEW
  */
  .overview-section {
    text-align: left;
  }

  .overview-item img {
    width: 20%;
  }

  .overview-item p {
    font-size: 1rem;
  }

}

/* ---------------------------
PORTRAIT iPHONE X
--------------------------- */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : portrait) {
      
      .main-wrapper {
        min-height: calc(100vh - 130px);
      }

    }

/* ---------------------------
LANDSCAPE iPHONE X
--------------------------- */
@media only screen 
    and (device-width : 812px) 
    and (device-height : 375px) 
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : landscape) {

      /*
      BACKGROUND CONTAINER
      */
      #background-container {
        display: none !important;
      }

      /*
      FOOTER 
      */
      footer {
        margin-left: auto;
      }

     }

/* ---------------------------
TABLETS (LANDSCAPE) OVER 768px
--------------------------- */
@media only screen and (min-width: 768px) {
  /*
  BACKGROUND CONTAINER
  */
  #background-container {
    display: block;
  }

  /*
  TYPOGRAPHY
  */
  h1 {
    font-size: 3rem;
  }

  /*
  HEADER
  */
  header {
    flex-direction: row;
    padding: 0px;
    width: 100%;
    background: none;
    box-shadow: 0 0 0 0;
    padding: 0px 30px;
  }

  header nav {
    margin-left: auto;
  }

  /*
  LANDING PAGE
  */
  .main-wrapper {
    width: 100%;
    min-height: calc(100vh - 114px);
    padding: 0px 30px;
    box-sizing: border-box;
    
  }

  .landing-left {
    padding: 0px 0px;
  }

  .landing-right {
    width: 50%;
    display: flex;
}

  /*
  QUESTIONS & ANSWERS SECTION
  */
  .wrapper {
    width: 95%;
    background-color: #fff;
    border-radius: 15px;
    padding: 25px 30px;
    box-shadow: 0 0 48px 16px rgb(46 53 58 / 15%);
    display: flex;
    justify-content: flex-start;
    margin-bottom: auto;
  }

  .question-title {
    flex-direction: row;
  }

  .question-count {
    justify-content: flex-end;
    margin-left: auto;
  }

  /*
  RATINGS OVERVIEW SECTION
  */
  .overview-item-container {
    justify-content: center;
  }

  .overview-item {
    width: 33%;
  }

  /*
  FINAL RATINGS SECTION
  */
  .ratings-final .ratings-content {
    flex-direction: row;
    text-align: left;
    width: 100%;
  }

  .ratings-final .ratings-content img {
    width: 25%;
    margin-right: 20px;
    margin-bottom: 0px;
  }

  /*
  FOOTER
  */
  footer p {
    font-size: 0.9rem;
  }

  /*
  SIMILAR FILMS SECTION
  */
  .film-items {
    justify-content: space-around;
    flex-direction: row
  }

  .film-items .item {
    width: 33%;
    margin-bottom: 0px;
  }

  .film-items .item .image {
    width: 30%;
  }

  .film-items .item .image img {
    width: 100%;
  }

  .film-items .item .info {
    width: 70%;
    justify-content:flex-start;
  }

}

/* ------------------------------------------
LAPTOPS/DESKTOPS OVER 992px
------------------------------------------ */
@media only screen and (min-width: 992px) {
  /*
  HEADER
  */
  header {
    width: 942px;
    padding: 0px 0px;
  }

  /*
  LANDING PAGE
  */
  .main-wrapper{
    width: 942px;
  }

  /*
  QUESTIONS & ANSWERS SECTION
  */
  .wrapper {
    width: 942px;
  }

  /*
  RATINGS OVERVIEW SECTION
  */
  .overview-item-container {
    justify-content:flex-start;
  }

  .overview-item {
    width: 25%;
  }

  .overview-item img {
    width: 20%;
  }

}

/* ------------------------------------------
LARGE LAPTOPS/DESKTOPS OVER 1200px
------------------------------------------ */
@media only screen and (min-width: 1200px) {
  /*
  HEADER
  */
  header {
    width: 1100px;
  }

  /*
  LANDING PAGE
  */
  .main-wrapper{
    width: 1100px;
  }

  /*
  QUESTIONS & ANSWERS SECTION
  */
  .wrapper {
    width: 1100px;
  }

}

