/* --------------------
CORE STYLES
-------------------- */

body {
  margin: 0;
  font-family: stratos, sans-serif;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height:normal;
}
* {
  font-family: stratos, sans-serif;
  font-style: normal;
  color: rgb(255 255 255 / 100%);
}

body {
  position: relative;
  background-color: rgb(2 5 31 / 100%);
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

#root {
  width:100%;
}

.column {
  flex-direction: column;
}

/* --------------------
TYPOGRAPHY STYLES
-------------------- */

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

h3 {
  margin-bottom: 1rem;
}

a {
  color: rgba(251, 79, 147, 1);
  transition: 0.3s;
}

a:hover {
  color: rgba(255, 255, 255, 1);
  transition: 0.3s;
  text-decoration: none;
}


/* --------------------
ADDITIONAL TYPOGRAPHY CLASSES
-------------------- */
.faded-text {
  color: rgba(255, 255, 255, 0.5);
}

.lead-in-text {
  font-size: 1.2rem;
}

.main-wrapper h5 {
  font-weight: 500;
  letter-spacing: 0.09em;
  font-size: 1rem;
  color: #fb4f93;
}


/* -------------------- 
SITE WRAPPER
-------------------- */
#site-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

/* -------------------- 
MAIN
-------------------- */
main {
  flex-grow: 1;
}

/* --------------------
HEADER
-------------------- */

header {
  display: flex;
  align-items: flex-start;
}

/* --------------------
LOGO
-------------------- */
header nav .logo {
  display:flex;
  align-items: center;
  width: 70%;
  text-align:left;
  color: #fff !important;
  font-weight: 700;
  font-size: 1.4rem;
  height: 71px;
}

header nav .logo:hover, header nav .icon:hover {
  text-decoration: none;
}


/* --------------------
NAVIGATION
-------------------- */
header nav {
  overflow: hidden;
}


header nav a {
  color: rgb(255 255 255 / 50%);
  padding: 0px 10px;
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
}

header nav a:hover {
  color: rgb(255 255 255 / 100%);
}

header nav a.active {
  color: #000;
}

header nav .icon {
  display: none;
  color: rgba(46, 53, 58, 0.5);
}


/* --------------------
LANDING PAGE WRAPPER
-------------------- */

.main-wrapper {
  background-color: transparent;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.landing-bg {
  background-image: url(shape-bg.svg);
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: 50% 90%;
  background-position: right center;
}

/* LANDING PAGE LEFT COLUMN */
.landing-left {
  margin-top: 10px;
  margin-right: 20px;
  width: 50%;
  justify-content: center;
}

.landing-left p {
  color: rgb(255 255 255 / 50%);
  line-height: 1.6em;
  margin-bottom: 20px;
}

.start-button {
  background-color: transparent;
  border-color: rgb(255 255 255 / 30%);
  color: #fff;
  border-width: 2px;
  width: fit-content;
  padding: 6px 15px;
  border-radius: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  transition: 0.3s;
}

.start-button:hover {
  background-color: #fb4f93;
  border-color: #fb4f93;
  border-width: 2px;
  color: #fff;
  transition: 0.3s;
}

.mockup {
  width: 100%;
}

/* --------------------
ABOUT PAGE
-------------------- */
.about-wrapper {
  padding: 30px 30px;
}

.about-section {
  display:flex;
}

.about-section img {
  display: none;
}

.about-section div {
  width:100%;
}


/* ----------------------------------------
QUESTIONS, ANSWERS & RATINGS SECTION
---------------------------------------- */

.wrapper {
  padding: 25px 20px;
  display: flex;
  justify-content: space-evenly;
}

.mb-30 {
  margin-bottom: 30px !important;
}

/* ------------------------
QUESTIONS SECTION
------------------------ */

/* QUESTIONS */
.question-section {
  width: 100%;
  position: relative;
  margin-bottom: 12px;
}

.question-count {
  display: flex;
  width:50%;
  align-items: center;
  color: rgb(255 255 255 / 50%);
  justify-content: flex-start;
}

.question-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-bottom: 3px solid #1b1e35;
}

.question-description p {
  margin-bottom: 0px;
}

/* ANSWERS */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.answer-item button span {
  font-size: 1rem;
}

button {
  width: 100%;
  color: rgb(255 255 255 / 70%);
  background-color: rgb(255 255 255 / 5%);
  border-radius: 5px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid rgb(255 255 255 / 10%);
  margin: 10px 0px;
  cursor: pointer;
  text-align: left;
}

button span {
  color: rgb(255 255 255 / 70%);
}

button span img {
  width: 20px;
  height: 20px;
  margin: 0px 12px;
}

button:hover {
  background-color: rgb(255 255 255 / 8%);
  border: 1px solid rgb(255 255 255 / 10%);
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

/* --------------------
FINAL RATING SECTION
-------------------- */
.ratings-final {
  display:flex;
  flex-direction: column;
}

.ratings-final .ratings-title {
  width: 100%;
}

.ratings-final .ratings-content {
  display:flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 0px;
}

.ratings-title p {
  font-size: 1.1rem;
}

.ratings-final .ratings-content img {
  width: 50%;
  margin-right: 0px;
  margin-bottom: 10px;
}

/* --------------------
RATINGS OVERVIEW SECTION
-------------------- */
.overview-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.overview-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
}

.overview-item {
  display:flex;
  flex-direction:row;
  margin-bottom: 8px;
  margin-top: 2px;
  width: 50%;
  max-height: 40px;
}

.overview-item img {
  width: 15%;
  margin-right: 8px;
  flex-shrink: 0;
}

.overview-item p {
  margin-bottom: 0px;
}

/* --------------------
SIMILAR FILMS SECTION
-------------------- */
.other-films-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.film-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.film-items .item {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.film-items .item .image {
  width: 30%;
  margin-right: 10px;
  margin-bottom: 0px;
}

.film-items .item .image img {
  width: 100%;
}

.film-items .item .info {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-right: 10px;
}

/* --------------------
FOOTER
-------------------- */

footer {
  height: 50px;
  width:100%;
  display:flex;
  margin-top:auto;
  align-items: center;
  padding: 0px 30px;
}

footer p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-bottom: 0px; /* Overriding browser standard */
}

/* -------------------------------------------------------------------------
  MEDIA QUERIES BEYOND THIS POINT
------------------------------------------------------------------------- */

/* ------------------------------
SMARTPHONES (PORTRAIT) UNDER 320px
------------------------------ */
@media only screen and (max-width : 320px) {

  /*
  HEADER
  */

  header {
    flex-direction: column;
    margin-bottom:15px;
  }

  header nav {
    margin: auto;
  }

  /*
  LANDING PAGE STYLES
  */
  .main-wrapper {
    width: 320px;
  }

  /*
  QUESTIONS AND ANSWERS SECTION
  */
  .wrapper {
    width: 320px;
  }

  .question-count {
    margin-left: 0px;
    margin-bottom:10px;
  }

}

/* ------------------------------
SMARTPHONES (LANDSCAPE) OVER 321px
------------------------------ */
@media only screen and (min-width : 321px) {
  /*
  HEADER
  */
  header {
    flex-direction: row;
    width: 100%;
    background: rgb(255 255 255 / 5%);
    padding-bottom: 0px;
  }

  header nav {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  header nav .block {
    width: 100%;
  }

  /*
  LANDING PAGE STYLES
  */
  .main-wrapper {
    width: 100%;
    flex-grow: 1;
    padding: 30px;
  }

  .landing-left {
    width: 50%;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
  }

  /*
  QUESTIONS AND ANSWERS SECTION
  */
  .wrapper {
    width: 100%;
  }

  /*
  RATINGS OVERVIEW 
  */
  .overview-item p{
    text-align: left;
  }

}

/* ------------------------------------------
SMALL DEVICES UNDER 600px
------------------------------------------ */
@media screen and (max-width: 600px) {

  /*
  WRAPPER
  */
  .wrapper {
    padding: 15px 20px;
  }

  /*
  HEADER
  */
  header nav a:not(:first-child) {
    display: none;
    padding: 8px 18px;
  }
  header nav a.icon {
    float: right;
    display: flex;
    margin-left: auto;
  }

  /*
  LANDING PAGE BACKGROUND
  */
  .landing-bg {
    background-image: none;
    flex-grow: 1;
    background-repeat: no-repeat;
  }

  /*
  LANDING PAGE LEFT COLUMN
  */
  .landing-left {
    width: 100%
  }

  /*
  OTHER FILMS
  */
  .info .info-description {
    color: rgba(255, 255, 255, 0.5);
    /* font-size: 0.9rem; */
}

  /*
  MARGIN OVERRIDE
  */
  .mb-30 {
    margin-bottom: 0px !important;
  }
}

@media screen and (max-width: 600px) {
  header nav.responsive {
    position: relative;
    padding-bottom: 12px;
  }

  header nav.responsive a {
    float: none;
    display: flex;
    text-align: left;
  }
}



/* ------------------------------------------
TABLETS (PORTRAIT) & LARGE PHONES OVER 600px
------------------------------------------ */
@media only screen and (min-width: 600px) {

  /*
  SITE WRAPPER
  */
  #site-wrapper {
    background-image: url(circle.svg);
    background-repeat: no-repeat;
    background-size: 70% 150%;
    background-position: 160% -400px;
    }

  /*
  HEADER
  */
  header {
    background: none;
    padding: 0px 10px;
  }

  /*
  LANDING PAGE
  */
  .main-wrapper {
    width: 100%;
  }

  /*
  FOOTER
  */
  footer {
    padding: 0px 30px;
  }


  /*
  NAVIGATION
  */
  header nav .logo {
    width: auto;
    text-align: left;
    margin-right: auto;
  }

  header nav .block {
    width: auto;
  }

  /*
  ABOUT PAGE
  */
  .about-wrapper {
    display: flex;
    align-items: center;
  }

  .about-section img {
    display:block;
    width: 20%;
    margin-right: 20px;
  }

  .about-section div {
    width:80%;
    margin-right: 30px;
  }

  /*
  QUESTIONS & ANSWERS SECTION
  */
  .wrapper {
    width: 100%;
  }

  /*
  RATINGS OVERVIEW
  */
  .overview-section {
    text-align: center;
  }

  .overview-item img {
    width: 20%;
  }

  .overview-item p {
    font-size: 1rem;
  }

  /*
  OTHER FILMS
  */
  .other-films-section {
    text-align: center;
  }

  .info p {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.7)
}

}

/* ---------------------------
PORTRAIT iPHONE X
--------------------------- */
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : portrait) {

    }

/* ---------------------------
LANDSCAPE iPHONE X
--------------------------- */
@media only screen 
    and (device-width : 812px) 
    and (device-height : 375px) 
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : landscape) {

      /*
      LANDING PAGE
      */
      .landing-left {
        padding: 0px 10px 0px 0px !important;
    }


     }

/* ---------------------------
TABLETS (LANDSCAPE) OVER 768px
--------------------------- */
@media only screen and (min-width: 768px) {

  /*
  SITE WRAPPER
  */
  #site-wrapper {
    background-image: url(circle.svg);
    background-repeat: no-repeat;
    background-size: 70% 150%;
    background-position: 160% -460px;
    }

  /*
  TYPOGRAPHY
  */
  h1 {
    font-size: 3rem;
  }

  /*
  HEADER
  */
  header {
    flex-direction: row;
    padding: 0px;
    width: 100%;
    box-shadow: 0 0 0 0;
    padding: 0px 30px;
  }

  header nav {
    margin-left: auto;
  }

  /*
  FOOTER
  */
  footer {
    width: 100%;
    padding: 0px 30px;
  }

  /*
  LANDING PAGE
  */
  .main-wrapper {
    width: 100%;
    padding: 0px 30px;
    box-sizing: border-box;
    
  }

  .landing-left {
    padding: 0px 50px 0px 0px;
  }


  /*
  QUESTIONS & ANSWERS SECTION
  */
  .wrapper {
    width: 95%;
    background-color: #14162f;
    border-radius: 15px;
    padding: 25px 30px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: auto;
  }

  .question-title {
    flex-direction: row;
  }

  .question-count {
    justify-content: flex-end;
    margin-left: auto;
  }

  /*
  RATINGS OVERVIEW SECTION
  */
  .overview-section {
    text-align: left;
  }

  .overview-item-container {
    justify-content: center;
  }

  .overview-item {
    width: 33%;
  }

  /*
  OTHER FILMS
  */
  .other-films-section {
    text-align: left;
  }

  /*
  FINAL RATINGS SECTION
  */
  .ratings-final .ratings-content {
    flex-direction: row;
    text-align: left;
    width: 100%;
  }

  .ratings-final .ratings-content img {
    width: 25%;
    margin-right: 20px;
    margin-bottom: 0px;
  }

  /*
  FOOTER
  */
  footer p {
    font-size: 0.9rem;
  }

  /*
  SIMILAR FILMS SECTION
  */
  .film-items {
    justify-content: space-around;
    flex-direction: row
  }

  .film-items .item {
    width: 33%;
    margin-bottom: 0px;
  }

  .film-items .item .image {
    width: 30%;
  }

  .film-items .item .image img {
    width: 100%;
  }

  .film-items .item .info {
    width: 70%;
    justify-content:flex-start;
  }

}

/* ------------------------------------------
LAPTOPS/DESKTOPS OVER 992px
------------------------------------------ */
@media only screen and (min-width: 992px) {
  /*
  HEADER
  */
  header {
    width: 942px;
    padding: 0px 0px;
  }

  /*
  FOOTER
  */
  footer {
    width: 942px;
    padding: 0px 30px;
  }

  /*
  LANDING PAGE
  */
  .main-wrapper{
    width: 942px;
  }

  /*
  ABOUT PAGE
  */
  .about-wrapper{
    width: 942px;
  }

  /*
  QUESTIONS & ANSWERS SECTION
  */
  .wrapper {
    width: 942px;
  }

  /*
  RATINGS OVERVIEW SECTION
  */
  .overview-item-container {
    justify-content:flex-start;
  }

  .overview-item {
    width: 25%;
  }

  .overview-item img {
    width: 20%;
  }

}

/* ------------------------------------------
LARGE LAPTOPS/DESKTOPS OVER 1200px
------------------------------------------ */
@media only screen and (min-width: 1200px) {
  /*
  HEADER & FOOTER
  */
  header, footer {
    width: 1100px;
  }

  /*
  LANDING PAGE
  */
  .main-wrapper{
    width: 1100px;
  }

  /*
  ABOUT PAGE
  */
  .about-wrapper{
    width: 1100px;
  }

  /*
  QUESTIONS & ANSWERS SECTION
  */
  .wrapper {
    width: 1100px;
  }

}

