body {
  margin: 0;
  font-family: bilo, sans-serif;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: bilo, sans-serif;
  font-style: normal;
  color: #2e353a;
}

body {
  background-color: rgb(46 53 58 / 05%);
  background-image: url(bg-4.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1, h2, h3, h4, h5 {
  font-weight: 900;
  letter-spacing: -0.03em;
}

h3 {
  margin-bottom: 1rem;
}

.app {
  background-color: #fff;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 25px 30px;
  box-shadow: 0 0 48px 16px rgb(46 53 58 / 15%);
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.header {
  margin-bottom:10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.header nav {
  margin-left: auto;
}

.header a {
  color: rgb(46 53 58 / 50%);
  text-transform: lowercase;
  padding: 0px 10px;
}


.ratings-final {
  display:flex;
  flex-direction: column;
}

.ratings-final .ratings-title {
  width: 100%;
}

.ratings-final .ratings-content {
  display:flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 0px;
}

.ratings-final .ratings-content img {
  width: 50%;
  margin-right: 0px;
  margin-bottom: 10px;
}

.ratings-final h2 {
  margin-bottom: 1rem;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
  margin-bottom: 12px;
}

.question-count {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: rgb(46 53 58 / 50%);
}

/* .question-count span {
  font-size: 28px;
} */

.question-title {
  display: flex;
}

.question-description p {
  font-size: 1.2rem;
  margin-bottom: 0px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


button {
  width: 100%;
  font-size: 1.1rem;
  color: #2e353a;
  background-color: rgb(0 0 0 / 05%);
  border-radius: 5px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid rgb(0 0 0 / 10%);
  margin: 10px 0px;
  cursor: pointer;
  text-align: left;
}

button span img {
  width: 20px;
  height: 20px;
  margin: 0px 12px;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  background-color: rgb(0 0 0 / 10%);
  border: 1px solid rgb(0 0 0 / 10%);
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

.ratings-final p {
  font-size: 1.2rem;
}

/* Overview Section (Bottom) */
.overview-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.overview-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
}

.overview-item {
  display:flex;
  flex-direction:row;
  margin-bottom: 8px;
  margin-top: 2px;
  width: 50%;
  padding-bottom: 10px;
}

.overview-item img {
  width: 15%;
  margin-right: 8px;
  flex-shrink: 0;
}

.overview-item p {
  margin-bottom: 0px;
}

/* Film Item */
.film-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.film-items .item {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.film-items .item .image {
  width: 30%;
  margin-right: 10px;
  margin-bottom: 0px;
}

.film-items .item .image img {
  width: 100%;
}

.film-items .item .info {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .app {
    width: 440px;
  }

  .header {
    flex-direction: column;
  }

  .header nav {
    margin: auto;
  }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .app {
    width: 560px;
  }

  .overview-section {
    text-align: left;
  }

  .overview-item img {
    width: 20%;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .app {
    width: 718px;
  }

  .overview-item-container {
    justify-content: center;
  }

  .overview-item {
    width: 33%;
  }

  .ratings-final .ratings-content {
    flex-direction: row;
    text-align: left;
    width: 100%;
  }

  .ratings-final .ratings-content img {
    width: 25%;
    margin-right: 20px;
    margin-bottom: 0px;
  }


  /* Film Item */
  .film-items {
    justify-content: space-around;
    flex-direction: row
  }

  .film-items .item {
    width: 33%;
    margin-bottom: 0px;
  }

  .film-items .item .image {
    width: 30%;
  }

  .film-items .item .image img {
    width: 100%;
  }

  .film-items .item .info {
    width: 70%;
    justify-content:flex-start;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .app {
    width: 942px;
  }

  .overview-item-container {
    justify-content:flex-start;
  }

  .overview-item {
    width: 25%;
  }

  

  .overview-item img {
    width: 20%;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .app {
    width: 1100px;
  }

}

