/* --------------------
  TYPOGRAPHY STYLES
  -------------------- */

h1 {
  font-size: 3rem;
  line-height: 1;
}
h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
h3 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
h5 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
h6 {
  font-size: 1rem;
  line-height: 1.5rem;
}

.collapsed-margins {
  margin-top: 0px;
  margin-bottom: 0px;
}

.bottom-margin {
  margin-bottom: 1rem;
  margin-top: 0px;
}

.text-white {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-style: normal;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  font-family: $headerFont;
  font-weight: 600;
  font-style: normal;
  margin: 0.25em 0;
  line-height: 1.2;
}

a {
  color: $brandColor;
  transition: 0.3s;
  text-decoration: none;

  &:hover {
    color: $headerColor;
    transition: 0.3s;
    text-decoration: none;
  }
}
