/* --------------------
  TYPOGRAPHY STYLES
  -------------------- */
  
  h1, h2, h3, h4, h5, h6 {
    font-family: $headerFont;
    color: $headerColor;
    font-weight: 400;
    font-style: normal;
  }

  h1 {
    margin: 0.25em 0 0 0;
  }

  h2, h3, h4 {
    color: $headerColor;
    margin: 0.25em 0 1em 0;
    line-height: 1.2;
  }

  h5, h6 {
    margin: 0.25em 0 0 0;
  }

  h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    font-family: $headerFont;
    font-weight: 400;
    font-style: normal;
    margin: 0.25em 0;
    line-height: 1.2;
  }
  
  a {
    color: $primaryColor;
    transition: 0.3s;
    text-decoration: none;

    &:hover {
        color: $headerColor;
        transition: 0.3s;
        text-decoration: underline;
      }
  }

  